In [1]:
import json
import pandas as pd

# Load data
data = pd.read_csv("../data/full_training_data.csv")
data.head()

,Sold_Price,Bids,Views,Watchers,Auction_Date,Make,Mileage,Exterior Color,Interior Color,Highlights,...,Engine_Cylinders_I6,Engine_Cylinders_V10,Engine_Cylinders_V12,Engine_Cylinders_V6,Engine_Cylinders_V8,Engine_Cylinders_W12,Engine_Cylinders_W8,mod_status_light_mod,mod_status_unknown_mod,Model_Target_Encoded
0,66000.0,26,6277,447.0,"Feb 18, 2026 1:48 PM MST",28,17600.0,13,1,this... is a 2017 ford shelby f-150 supercrew ...,...,False,False,False,False,True,False,False,False,True,43545.115385
1,51000.0,22,11947,962.0,"Feb 18, 2026 1:46 PM MST",5,41000.0,2,0,"this... is a 2009 audi r8 coupe, finished in j...",...,False,False,False,False,True,False,False,False,True,108084.769231
2,17000.0,49,10966,662.0,"Feb 18, 2026 1:38 PM MST",85,310800.0,6,8,"this… is a 2004 toyota land cruiser, finished ...",...,False,False,False,False,True,False,False,False,True,20235.769231
3,29888.0,43,16565,957.0,"Feb 18, 2026 1:36 PM MST",9,NaN,11,1,"this... is a 2007 bmw m5, finished in silverst...",...,False,True,False,False,False,False,False,False,False,29194.666667
4,29995.0,30,8501,585.0,"Feb 18, 2026 1:33 PM MST",73,NaN,6,1,"this... is a 1998 rover mini, finished in brit...",...,False,False,False,False,False,False,False,True,False,29995.000000

In [5]:
import pandas as pd

def check_distributions(file_path):
    # Load the dataset
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("Error: File not found.")
        return

    print(f"--- Dataset Summary: {len(df)} rows, {len(df.columns)} columns ---\n")

    for col in df.columns:
        print(f"### Column: {col} ###")
        
        # 1. Print Value Counts (Top 10 for brevity)
        print("Top 10 Value Counts:")
        print(df[col].value_counts().head(10))
        
        # 2. Check Distribution/Summary Stats
        if pd.api.types.is_numeric_dtype(df[col]):
            # For numbers: Mean, Median, Min, Max
            print("\nNumeric Distribution:")
            print(df[col].describe().to_string())
        else:
            # For categories: Unique count and mode
            print("\nCategorical Distribution:")
            print(f"Unique values: {df[col].nunique()}")
            print(f"Most frequent: {df[col].mode()[0] if not df[col].mode().empty else 'N/A'}")
            
        print("-" * 30 + "\n")

# Usage
check_distributions("../data/full_training_data.csv")

--- Dataset Summary: 4319 rows, 84 columns ---

### Column: Sold_Price ###
Top 10 Value Counts:
Sold_Price
15000.0    45
20000.0    33
14000.0    32
16000.0    31
13000.0    30
18000.0    29
27000.0    29
30000.0    28
25000.0    28
15250.0    28
Name: count, dtype: int64

Numeric Distribution:
count      4319.000000
mean      30822.467006
std       35395.244182
min        1020.000000
25%       11084.000000
50%       20000.000000
75%       37000.000000
max      475000.000000
------------------------------

### Column: Bids ###
Top 10 Value Counts:
Bids
26    144
28    127
21    125
31    122
23    121
33    120
29    120
22    119
30    117
24    112
Name: count, dtype: int64

Numeric Distribution:
count    4319.000000
mean       30.767076
std        14.648306
min         1.000000
25%        20.000000
50%        29.000000
75%        40.000000
max       150.000000
------------------------------

### Column: Views ###
Top 10 Value Counts:
Views
7691     3
7309     3
10400    3
12040    3
6904     3
5800     3
6136     3
7308     3
10886    3
10264    3
Name: count, dtype: int64

Numeric Distribution:
count      4319.000000
mean      12071.269044
std        8282.071295
min        2560.000000
25%        7493.000000
50%       10098.000000
75%       14242.500000
max      230668.000000
------------------------------

### Column: Watchers ###
Top 10 Value Counts:
Watchers
323.0    2
447.0    1
662.0    1
962.0    1
585.0    1
426.0    1
512.0    1
957.0    1
271.0    1
393.0    1
Name: count, dtype: int64

Numeric Distribution:
count     33.000000
mean     529.454545
std      183.652370
min      250.000000
25%      426.000000
50%      512.000000
75%      608.000000
max      962.000000
------------------------------

### Column: Auction_Date ###
Top 10 Value Counts:
Auction_Date
Feb 13, 2026 1:14 PM MST     3
Oct 21, 2025 10:49 AM MST    3
Jan 20, 2026 1:39 PM MST     3
Feb 17, 2026 12:15 PM MST    3
Dec 31, 2025 1:50 PM MST     3
Dec 23, 2025 1:50 PM MST     3
Oct 24, 2025 12:26 PM MST    2
Jan 27, 2026 1:14 PM MST     2
Oct 27, 2025 11:02 AM MST    2
Jan 27, 2026 1:46 PM MST     2
Name: count, dtype: int64

Categorical Distribution:
Unique values: 4061
Most frequent: Dec 23, 2025 1:50 PM MST
------------------------------

### Column: Make ###
Top 10 Value Counts:
Make
9     685
68    472
55    377
28    252
15    246
85    245
5     225
45    119
44    117
32    108
Name: count, dtype: int64

Numeric Distribution:
count    4319.000000
mean       42.038203
std        27.680666
min         0.000000
25%        13.000000
50%        44.000000
75%        68.000000
max        92.000000
------------------------------

### Column: Mileage ###
Top 10 Value Counts:
Mileage
70000.0    10
26600.0     9
13300.0     9
2300.0      8
97300.0     8
5700.0      8
84500.0     8
88100.0     8
50500.0     8
19800.0     8
Name: count, dtype: int64

Numeric Distribution:
count      3966.000000
mean      71644.869138
std       51807.769962
min          22.000000
25%       32525.000000
50%       64000.000000
75%       98600.000000
max      441900.000000
------------------------------

### Column: Exterior Color ###
Top 10 Value Counts:
Exterior Color
1     921
13    655
11    540
5     510
2     504
10    423
8     409
6     145
14     68
7      55
Name: count, dtype: int64

Numeric Distribution:
count    4319.000000
mean        6.726326
std         4.553844
min         0.000000
25%         2.000000
50%         7.000000
75%        11.000000
max        14.000000
------------------------------

### Column: Interior Color ###
Top 10 Value Counts:
Interior Color
1     2301
5      605
8      536
0      267
10     162
12     119
3      105
2       90
13      53
11      38
Name: count, dtype: int64

Numeric Distribution:
count    4319.000000
mean        3.372540
std         3.505556
min         0.000000
25%         1.000000
50%         1.000000
75%         5.000000
max        14.000000
------------------------------

### Column: Highlights ###
Top 10 Value Counts:
Highlights
this... is a 2021 bmw x7 m50i, finished in carbon black metallic with a tartufo interior. the attached carfax vehicle history report shows no accidents or mileage discrepancies in this bmw’s past. according to the build sheet provided in the gallery, notable factory equipment includes the executive, driver assistance professional, and cold weather packages, 22-inch style 758 wheels, an m sport differential, merino leather upholstery, power-adjustable, heated, ventilated, and massaging front seats, and a harman kardon surround sound system. the seller reports no notable modifications. the x7 m50i was introduced as the high-performance variant of bmw’s flagship suv, combining luxury and capability in a three-row configuration. it features advanced technology and a powerful engine, positioning it as a strong contender in the full-size luxury suv segment. the x7 m50i is notable among enthusiasts for delivering m performance dynamics in a spacious and versatile package. power comes from a 4.4-liter twin-turbocharged v8, rated at 523 horsepower and 553 lb-ft of torque. output is sent to the four wheels via an 8-speed automatic transmission.                                                                                                                                                                                                                                                              2
this… is a 1989 bmw alpina b10 3.5, finished in lazer blue metallic with a natur interior. this alpina b10 3.5 was built by sytner uk. reportedly only 80 rhd b10s were produced at this factory, and the alpina plaque shows that this b10 is number 8257. the seller reports that this alpina has received a g260 5-speed manual transmission swap. additional notable modifications reported by the seller include an e28 m5 clutch and flywheel, an alpine head unit, an aftermarket shift surround, and a hella matrix third brake light. a partial list of notable equipment reported by the seller includes a power-operated sunroof, leather upholstery, power-adjustable front seats, a leather-wrapped steering wheel, and air conditioning. based on the e34 535i, the alpina b10 3.5 received comprehensive performance-focused modifications from german tuner-turned-manufacturer alpina. they upgraded the 3.5-liter inline-six with bespoke internals, revised engine management, and freer-flowing exhaust, paired with suspension, braking, and aerodynamics enhancements tailored for autobahn stability. subtle alpina styling, numbered production, and exquisite craftsmanship make it one of the earliest examples of the modern executive super-sedan formula. power comes from a 3.5-liter inline-6 engine, rated at 254 horsepower and 238 lb-ft of torque. output is sent to the rear wheels via a 5-speed manual transmission.    2
this... is a 1984 bmw 318i coupe, finished in delphin with a black and gray interior. this 318i features the desirable 5-speed manual transmission. although starting in 1990 and containing several gaps, the attached carfax vehicle history report shows that this bmw has been registered in california and oregon for the duration of the report. according to the build sheet provided in the gallery, notable factory equipment includes 14-inch style 13 wheels, a manually operated sunroof, cloth upholstery, rear pop-out windows, and air conditioning, notable modifications reported by the seller are limited to a continental head unit. though the first-generation 3 series was already quite an accomplished machine, the legend really began with the debut of the e30 in 1982. offering a compelling blend of quality, style, practicality, and driver involvement, the e30 set the tone for the next four decades and five generations of the venerable 3, and today remains among the most sought-after of all thanks to its compact footprint, classic good looks, and outstanding driving dynamics. power comes from a 1.8-liter inline-4, rated at about 101 horsepower and 103 lb-ft of torque. output is sent to the rear wheels via a 5-speed manual transmission.                                                                                                                                                               2
this… is a 2017 audi q7 prestige, finished in tofane white crystal effect with a rock gray interior. the attached carfax vehicle history report shows no mileage discrepancies in this q7’s past. according to the build sheet provided in the gallery, notable factory equipment includes the prestige package, a panoramic sunroof, heated second-row seats, and folding third-row seats. the seller reports no notable modifications. this audi q7 features the legendary quattro all-wheel-drive system and is based on the venerable vw platform shared by the bentley bentayga, lamborghini urus, and porsche cayenne; it incorporates extensive use of aluminum alloy and makes the car lighter than the prior, first-generation model. power comes from a 3.0-liter supercharged v6, rated at 333 horsepower and 325 lb-ft of torque. output is sent to all four wheels via an 8-speed automatic transmission and audi's quattro permanent all-wheel drive system.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2
this… is a 2007 bentley continental gt diamond series, finished in dark sapphire with a magnolia and nautic interior. the attached carfax vehicle history report shows no accidents or mileage discrepancies in this continental’s past. it also shows that this bentley has been registered to two owners since new. according to the build sheet provided in the gallery, notable factory equipment includes 20-inch wheels, adaptive air suspension, carbon ceramic brakes, diamond-quilted leather upholstery, and heated front seats. notable modifications reported by the seller are limited to a beltronics stir radar detector system. the bentley continental gt was unveiled in 2003 for the 2004 model year, with the gtc convertible following in 2006. it was bentley's first car to launch under the ownership of the volkswagen group and allowed bentley to mass-produce the continental gt and reach a wider customer base upon launch. journalists praised the new continental gt for its build quality, comfort, and performance. bentley reportedly produced 400 diamond series examples globally to commemorate 60 years of production at the bentley crewe factory in cheshire, england. power comes from a 6.0-liter twin-turbocharged w12, rated at 552 horsepower and 479 lb-ft of torque. output is sent to the four wheels via a 6-speed automatic transmission.                                                                  2
this... is a 2009 bmw x6 xdrive50i, finished in space grey metallic with a black interior. the attached carfax vehicle history report lists no accidents or mileage discrepancies in this x6's past. according to the build sheet provided in the gallery, notable factory equipment includes the sport package, soft-close doors, heated and ventilated front seats, heated rear seats, a heated steering wheel, 4-zone automatic climate control, and a head-up display. notable modifications reported by the selling dealer are limited to black bmw wheel center cap emblems. bmw released the first-generation x6 for the 2008 model year. known as the e71 internally, it was a swoopier evolution of the x5 marketed as a sports activity coupe. it touts over 27 cubic feet of cargo capacity, which increases to nearly 60 cubic feet with the rear seats folded. although production on the e71 ended in 2014, the x6 continues to be produced today. power comes from a twin-turbocharged 4.4-liter v8, rated at 400 horsepower and 450 lb-ft of torque. output is sent to all four wheels via an 8-speed automatic transmission and bmw's xdrive permanent all-wheel drive system.                                                                                                                                                                                                                                                               2
this... is a 2014 bmw z4 sdrive28i, finished in jet black with a black interior. the attached carfax vehicle history report indicates no accidents or mileage discrepancies in this z4’s past; it also shows southern ownership since new. according to the window sticker provided in the gallery, notable factory equipment includes the sport package, a power-retractable hardtop, power-adjustable front seats, and comfort access keyless entry. the seller reports no notable modifications. referred to as the e89 internally, the second-generation z4 advanced the bmw roadster with aesthetic, mechanical, and technological updates. it was the first bmw z model with a retractable hardtop roof, eliminating the differentiation between coupe and roadster variants. power comes from a 2.0-liter turbocharged inline-4, rated at 240 horsepower and 260 lb-ft of torque. output is sent to the rear wheels via an 8-speed automatic transmission.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2
this... is a 2015 porsche cayenne turbo, finished in rhodium silver metallic with a saddle brown interior. the attached carfax vehicle history report shows no mileage discrepancies in this cayenne’s past; it also shows nevada registrations since new. according to the build sheet provided in the gallery, notable factory equipment includes the sport chrono and carbon fiber interior packages, 21-inch 911 turbo design wheels, soft close doors, adaptive cruise control with porsche active safe (pas), and porsche entry & drive. the selling dealer reports no notable modifications. the second-generation cayenne turbo was introduced for the 2011 model year and brought significant improvements in performance, technology, and luxury over its predecessor. as porsche’s flagship suv, it is designed to combine sports car dynamics with everyday practicality and comfort. the cayenne turbo remains popular among enthusiasts for its powerful engine and advanced features. power comes from a 4.8-liter twin-turbocharged v8, rated at 520 horsepower and 553 lb-ft of torque. output is sent to all four wheels via an 8-speed automatic transmission.                                                                                                                                                                                                                                                                             2
this... is a 2007 porsche 911 carrera 4s coupe, finished in slate grey metallic with a black interior. the attached carfax vehicle history report indicates no mileage discrepancies in this 911’s past. it also shows registrations in california since new. according to the build sheet provided in the gallery, notable factory equipment includes a speed-activated rear spoiler, a power sunroof, full leather upholstery, heated front seats, and a bose sound system. notable modifications reported by the seller include 19-inch fifteen52 sector rsr wheels, soul performance downpipes, csf aluminum radiators, bc racing coilovers, and an apple carplay head unit. the 997-generation 911 launched for 2005 with a more powerful flat-6 than the outgoing model, oval headlights, and an upgraded interior. by combining retro and modern design cues in a water-cooled 911, it was instantly beloved among enthusiasts — and it presents a compelling package for those looking for a smaller and lighter 911 from the modern era. power comes from a 3.8-liter flat-6, rated at 355 horsepower and 295 lb-ft of torque. output is sent to all four wheels via a 5-speed tiptronic s automatic transmission.                                                                                                                                                                                                                                   2
this... is a 2004 mercedes-benz sl55 amg, finished in designo graphite with a black interior. the attached carfax vehicle history report shows no accidents or mileage discrepancies in this sl55’s past. notable factory equipment reported by the seller includes active body control suspension, a power-folding hardtop, leather upholstery, heated and ventilated seats, and a bose sound system. notable modifications reported by the seller include a rennsport tuning tune, an sl65 amg front bumper, and 19-inch multi-piece amg wheels. called r230 internally, the first new sl of the 21st century made its debut for 2003 as a replacement for the venerable r129 model. it was appreciably quicker and far more advanced than its predecessor, it ditched the boxy lines for a sleeker and more rounded design that was aligned with the rest of the mercedes-benz range, and it came standard with a power-retractable hardtop. production ended in 2011. power comes from a 5.4-liter supercharged v8, rated at 493 horsepower and 516 lb-ft of torque in stock form. due to the tune performed to this sl55, it likely produces more power, but a dyno sheet was not provided to confirm. output is sent to the rear wheels via a 5-speed automatic transmission.                                                                                                                                                                           2
Name: count, dtype: int64

Categorical Distribution:
Unique values: 4271
Most frequent: this... is a 1978 lincoln continental mark v, finished in polar white with a chamois interior. a partial list of notable currently installed equipment reported by the seller includes 15-inch wheels, opera windows, a vinyl roof panel, cloth upholstery, air conditioning, and cruise control. stretching 230 inches long, the continental mark v released for 1977 was positioned in the heart of the personal luxury coupe segment. it featured stately styling characterized by concealed headlights, an upright grille, and a wheel-shaped insert in the trunk lid, and it offered a spacious interior with plush seats. mark v production ended after the 1979 model year, and the model was replaced by the much smaller mark vi. power comes from a 460-cubic-inch v8, rated at about 210 horsepower and 357 lb-ft of torque. output is sent to the rear wheels via a 3-speed automatic transmission.
------------------------------

### Column: Equipment ###
Top 10 Value Counts:
Equipment
a partial list of notable equipment reported by the seller includes: limited-slip differential power-operated soft top leather upholstery digital instrument cluster air conditioning cruise control                                                                                                                                                                                                                                                                                                                                                                                                3